@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__logo {
  padding: 20px;
  width: 100vw;
  max-width: 200px;
}
.header__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 7px -5px #ababab inset;
  width: 100vw;
  background-color: #e6e6e6;
  padding: 7px;
}
.header__location-icon {
  color: #333333;
  margin: 5px;
}
.header__location-city {
  color: #333333;
  font-weight: bold;
  margin: 5px;
}

.nav {
  background-color: #f7f7f7;
  width: 100vw;
  margin: -5px;
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav__heading {
  text-align: center;
}
.nav__text {
  text-align: center;
  padding: 20px;
}
.nav__button {
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 5px 7px -5px #ababab;
}
.nav__button:hover {
  box-shadow: 0px 5px 7px -5px #4d4d4d;
  opacity: 0.9;
}

.aside {
  padding: 20px 0px;
}
.aside__list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.aside__number {
  margin: 5px;
  color: #fff;
  background-color: #9356DC;
  border-radius: 100%;
  padding: 0px 4px;
  z-index: 2;
}
.aside__button {
  display: flex;
  flex-direction: row;
  background: #f7f7f7;
  margin: 10px 10px 10px -10px;
  z-index: 1;
  width: 100vw;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -5px #ababab;
}
.aside__button-icon {
  margin: 5px;
  padding: 10px 0px 10px 20px;
  color: #666666;
}
.aside__button-text {
  margin: 5px;
  padding: 10px 0px;
  font-weight: bold;
}
.aside__button:hover {
  background: #F4EAFF;
  box-shadow: 0px 5px 7px -5px #4d4d4d;
  opacity: 0.9;
}
.aside__button:hover .aside__button-icon {
  color: #9356DC;
}

.main {
  background-color: #f7f7f7;
  width: 100vw;
  margin: -8px;
  padding: 20px;
}
.main__heading {
  padding: 5px;
}
.main__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 20px 0px;
}
.main__menu {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -5px #ababab;
  text-decoration: none;
}
.main__menu:hover {
  box-shadow: 0px 5px 7px -5px #4d4d4d;
  opacity: 0.9;
}
.main__menu:hover .main__menu-icon {
  visibility: hidden;
}
.main__menu:hover .main__menu-hover {
  visibility: visible;
}
.main__menu-pic {
  width: 90vw;
  height: 25vh;
  object-fit: cover;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
}
.main__menu-card {
  color: #000;
  padding: 5px;
  position: relative;
}
.main__menu-heading {
  margin: 5px;
}
.main__menu-text {
  margin: 5px;
}
.main__menu-icon {
  margin: 5px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.main__menu-hover {
  visibility: hidden;
  color: #9356DC;
  margin: 5px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.main__menu-new {
  background-color: #99E2D0;
  padding: 5px 25px;
  color: #278870;
  font-weight: bold;
  border-radius: 3px;
  position: absolute;
  right: 30px;
}

.footer {
  background: #333333;
  color: #fff;
  width: 100vw;
  margin: -8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.footer__heading {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 10px;
}
.footer__div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__div-icon {
  margin: 5px;
}
.footer__div-text {
  margin: 5px;
}
.footer__link {
  text-decoration: none;
  color: #fff;
  margin: 5px;
}

/* Header */
.menu-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.menu-header__logo {
  padding: 20px;
  width: 100vw;
  max-width: 200px;
  position: relative;
}
.menu-header__back {
  padding: 5px;
  width: 10vw;
  position: absolute;
  top: 28px;
  left: 20px;
}
.menu-header__pic {
  width: 100vw;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 0px;
}

.menu-main {
  background-color: #f7f7f7;
  border-radius: 30px 30px 0px 0px;
  width: 100vw;
  margin: -50px 0px 8px -8px;
  position: relative;
  z-index: 2;
  padding: 20px 20px 50px 20px;
}
.menu-main__div-heading:hover .menu-main__icon {
  visibility: hidden;
}
.menu-main__div-heading:hover .menu-main__hover {
  visibility: visible;
}
.menu-main__heading {
  font-family: "Shrikhand", cursive;
  position: relative;
}
.menu-main__icon {
  position: absolute;
  top: 55px;
  right: 50px;
}
.menu-main__hover {
  position: absolute;
  top: 55px;
  right: 50px;
  color: #9356DC;
  visibility: hidden;
}
.menu-main__div-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu-main__button {
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 5px 7px -5px #ababab;
  width: 200px;
  text-align: center;
}
.menu-main__button:hover {
  box-shadow: 0px 5px 7px -5px #4d4d4d;
  opacity: 0.9;
}

.menu-section {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}
.menu-section__heading {
  font-weight: 400;
  text-transform: uppercase;
}
.menu-section__heading::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #99E2D0;
}

.menu-dish {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px 0px;
  padding: 5px;
  box-shadow: 0px 5px 7px -5px #ababab;
}
.menu-dish__heading {
  width: 100vw;
  margin: 5px;
}
.menu-dish p {
  display: inline-block;
  margin: 5px;
  margin-top: 0px;
}

.menu-footer {
  background: #333333;
  color: #fff;
  width: 100vw;
  margin: -8px;
  padding: 20px;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
}
.menu-footer__heading {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 10px;
}
.menu-footer__div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-footer__div-icon {
  margin: 5px;
}
.menu-footer__div-text {
  margin: 5px;
}
.menu-footer__link {
  text-decoration: none;
  color: #fff;
  margin: 5px;
}

/*# sourceMappingURL=style.css.map */
