.aside {
    padding: $blckpad 0px;
    &__list {
        &-item {
            @include flex(row);
            align-items: center;
        }
    }
    &__number {
        margin: $elmarg;
        color: $btnclr;
        background-color: $clr-prim;
        border-radius: 100%;
        padding: 0px 4px;
        z-index: 2;
    }
    &__button {
        @include flex(row);
        background: $altbgd;
        margin: 10px 10px 10px -10px;
        z-index: 1;
        width: $vpw;
        border-radius: 15px;
        @include box-shadow;
        &-icon {
            margin: $elmarg;
            padding: 10px 0px 10px 20px;
            color: lighten($iconinact, 20%);
        }
        &-text {
            margin: $elmarg;
            padding: 10px 0px;
            font-weight: bold;
        }
        &:hover {
            background: $primlight;
            @include hover;
            .aside__button-icon {
                color: $clr-prim;
            }
        }
    }
}