.header {
    @include center(column);
    &__logo {
        padding: $blckpad;
        width: $vpw;
        max-width: 200px;
    }
    &__location {
        @include center(row);
        box-shadow: 0px 5px 7px -5px $shdwclr inset;
        width: $vpw;
        background-color: #e6e6e6;
        padding: 7px;
        &-icon {
            color: $iconinact;
            margin: $elmarg;
        }
        &-city {
            color: $iconinact;
            font-weight: bold;
            margin: $elmarg;
        }
    }
}