.main {
    background-color: $altbgd;
    width: $vpw;
    margin: -8px;
    padding: $blckpad;
    &__heading {
        padding: $elmarg;
    }
    &__list {
        @include center(column);
        padding: 0px 0px $blckpad 0px;
        @include tablet {
            flex-flow: row wrap;
        }
        @include desktop {
            flex-flow: row wrap;
        }
    }
    &__menu {
        margin: 10px 0px;
        @include flex(column);
        background-color: $btnclr;
        border-radius: 15px;
        @include box-shadow;
        position: relative;
        text-decoration: none;
        transition: all 1000ms;
        @include tablet {
            width: 40vw;
            margin: $blckpad;
        }
        @include desktop {
            width: 40vw;
            margin: 30px;
        }
        &:hover {
            @include hover;
            .main__menu-hover {
                opacity: 1;
            }
        }
        &:hover + .main__menu-hover {
            opacity: 1;
        } 
        &-pic {
            width: 90vw;
            height: 25vh;
            object-fit: cover;
            overflow: hidden;
            border-radius: 15px 15px 0px 0px;
            @include tablet {
                width: 100%;
            }
            @include desktop {
                width: 100%;
            }
        }
        &-new {
            background-color: $clr-tert;
            padding: $elmarg 25px;
            color: darken($clr-tert, 40%);
            font-weight: bold;
            border-radius: 3px;
            position: absolute;
            right: $blckpad;
        }
        &-card {
            color: #000;
            padding: $elmarg;
            position: relative;
        }
        &-heading {
            margin: $elmarg;
        }
        &-text {
            margin: $elmarg;
        }
        &-icon {
            margin: $elmarg;
            position: absolute;
            top: 20px;
            right: 20px;
        }
        &-hover {
            opacity: 0;
            color: $clr-prim;
            margin: $elmarg;
            position: absolute;
            top: 20px;
            right: 20px;
            transition: all 1000ms;
            
        }
    }
}