.main {
    background-color: $altbgd;
    width: $vpw;
    margin: -8px;
    padding: $blckpad;
    &__heading {
        padding: $elmarg;
    }
    &__list {
        @include center(column);
        padding: 0px 0px $blckpad 0px;
    }
    &__menu {
        margin: 10px;
        @include flex(column);
        background-color: $btnclr;
        border-radius: 15px;
        @include box-shadow;
        text-decoration: none;
        &:hover {
            @include hover;
            .main__menu-icon {
                display: none;
            }
            .main__menu-hover {
                display: initial;
            }
        }
        &-pic {
            width: 90vw;
            height: 25vh;
            object-fit: cover;
            overflow: hidden;
            border-radius: 15px 15px 0px 0px;
        }
        &-card {
            color: #000;
            padding: $elmarg;
            position: relative;
        }
        &-heading {
            margin: $elmarg;
        }
        &-text {
            margin: $elmarg;
        }
        &-icon {
            margin: $elmarg;
            position: absolute;
            top: 20px;
            right: 20px;
        }
        &-hover {
            display: none;
            background-image: linear-gradient(to top right, $clr-sec, $clr-prim);
        }
    }
}