.nav {
    background-color: $altbgd;
    width: $vpw;
    margin: -5px;
    padding: $blckpad;
    @include flex(column);
    &__heading {
        text-align: center;
    }
    &__text {
        text-align: center;
    }
    &__button {
        @include button;
    }
}