.nav {
    background-color: $altbgd;
    width: $vpw;
    margin: -5px;
    padding-top: $blckpad;
    padding-bottom: 50px;
    @include flex(column);
    &__heading {
        text-align: center;
    }
    &__text {
        text-align: center;
        padding: $blckpad;
    }
    &__button {
        @include button;
        &:hover {
            @include hover;
        }
    }
}