/* Header */
.menu-header {
    @include center(column);
    z-index: 1;
    &__logo {
        padding: $blckpad;
        width: $vpw;
        max-width: 200px;
        position: relative;
    }
    &__back {
        padding: $elmarg;
        width: 10vw;
        position: absolute;
        top: 28px;
        left: 20px;
    }
    &__pic {
        width: $vpw;
        object-fit: cover;
        overflow: hidden;
        position: relative;
        z-index: 1;
        margin: 0px;
    }
}