.menu-main {
    background-color: $altbgd;
    border-radius: $brdrad $brdrad 0px 0px;
    width: $vpw;
    margin: -50px 0px 8px -8px;
    position: relative;
    z-index: 2;
    padding: $blckpad $blckpad 50px $blckpad;
    &__div-heading {
        transition: all 1000ms;
        &:hover {
            .menu-main__hover {
                opacity: 1;
            }
        }
        &:hover + .main-menu__hover {
            opacity: 1;
        }
    }
    &__heading {
        font-family: 'Shrikhand', cursive;
        position: relative;
        width: 70vw;
    }
    &__icon {
        position: absolute;
        top: 55px;
        right: 50px;
    }
    &__hover {
        position: absolute;
        top: 55px;
        right: 50px;
        color: $clr-prim;
        opacity: 0;
        transition: all 1000ms;
    }
    &__div-button {
        @include center(row);
    }
    &__button {
        @include button;
        width: 200px;
        text-align: center;
        &:hover {
            @include hover;
        }
    }
}
.menu-section {
    @include flex(column);
    padding: $blckpad 0px;
    &__heading {
        font-weight: 400;
        text-transform: uppercase;
        &::after {
            content: "";
            display: block;
            width: 50px;
            height: 2px;
            background-color: $clr-tert;
        }
    }
}
.menu-dish {
    background-color: $btnclr;
    border-radius: 15px;
    margin: 10px 0px;
    @include box-shadow;
    @include flex(row);
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    animation: dish-load 500ms both;
    @for $n from 1 through 10 {
        &--#{$n} {
            animation-delay: 300ms * $n;
        }
    }
    &:hover {
        .menu-dish__price {
            transform: translateX(-55px);
        }
        .menu-dish__check {
            transform: rotate(1turn);
            &div {
                transform: translateX(-100%);
            }
        }
    }
    &__heading {
        width: $vpw;
        margin: 5px 5px 0px 10px;
        padding: $elmarg;
        padding-bottom: 0px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &__card {
        @include flex(column);
        width: 100%;
    }
    p {
        margin: 0px 5px 0px 10px;
    }
    &__description {
        @include flex(row);
        justify-content: space-between;
        align-items: center;
        padding: $elmarg;
    }
    &__text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &__price {
        font-weight: bold;
        transform: translateX(0px);
        transition: transform 1000ms;
    }
    &__check {
        color: $btnclr;
        padding: $blckpad;
        margin: 0px;
        transform: rotate(0turn);
        transition: transform 1000ms;
        &div {
            background-color: $clr-tert;
            border-radius: 0px 15px 15px 0px;
            margin: 0px;
            transform: translateX(110%);
            transition: transform 1000ms;
        }
    }

}