.menu-main {
    background-color: $altbgd;
    border-radius: $brdrad $brdrad 0px 0px;
    width: $vpw;
    margin: -50px 0px 8px -8px;
    position: relative;
    z-index: 2;
    padding: $blckpad $blckpad 50px $blckpad;
    &__div-heading {
        transition: all 1000ms;
        &:hover {
            .menu-main__hover {
                opacity: 1;
            }
        }
        &:hover + .main-menu__hover {
            opacity: 1;
        }
    }
    &__heading {
        font-family: 'Shrikhand', cursive;
        position: relative;
    }
    &__icon {
        position: absolute;
        top: 55px;
        right: 50px;
    }
    &__hover {
        position: absolute;
        top: 55px;
        right: 50px;
        color: $clr-prim;
        opacity: 0;
        transition: all 1000ms;
    }
    &__div-button {
        @include center(row);
    }
    &__button {
        @include button;
        width: 200px;
        text-align: center;
        &:hover {
            @include hover;
        }
    }
}
.menu-section {
    @include flex(column);
    padding: $blckpad 0px;
    &__heading {
        font-weight: 400;
        text-transform: uppercase;
        &::after {
            content: "";
            display: block;
            width: 50px;
            height: 2px;
            background-color: $clr-tert;
        }
    }
}
.menu-dish {
    background-color: $btnclr;
    border-radius: 15px;
    margin: 10px 0px;
    padding: $elmarg;
    @include box-shadow;
    animation: dish-load 500ms both;
    @for $n from 1 through 10 {
        &--#{$n} {
            animation-delay: 300ms * $n;
        }
    }
    &__heading {
        width: $vpw;
        margin: $elmarg;
    }
    p {
        display: inline-block;
        margin: $elmarg;
        margin-top: 0px;
    }
}