@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin box-shadow {
    box-shadow: 0px 5px 7px -5px $shdwclr;
}

@mixin shadow-hover {
    box-shadow: 0px 5px 7px -5px $shwhvr;
}

@mixin button {
    text-decoration: none;
    color: $btnclr;
    background-image: linear-gradient(to bottom right, $clr-sec, $clr-prim);
    padding: $blckpad;
    border-radius: $brdrad;
    @include box-shadow;
}