$clr-prim: #9356DC;
$clr-sec: #FF79DA;
$clr-tert: #99E2D0;

$altbgd: #f7f7f7;
$shdwclr: #ababab;
$btnclr: #fff;
$iconinact: #333333;
$primlight: #F4EAFF;

$vpw: 100vw;
$blckpad: 20px;
$elmarg: 5px;
$brdrad: 30px;